[submodule "djinni"]
	path = djinni
	url = git@github.com:KhalilBellakrid/djinni.git
[submodule "toolchains/polly"]
	path = toolchains/polly
	url = git@github.com:ruslo/polly.git
[submodule "ledger-core-api"]
	path = ledger-core-api
	url = git@github.com:KhalilBellakrid/ledger-core-api.git
